/* Challenge CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styles */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("chaigym.png");
  background-size: cover;
  color: white;
}

/* Navbar styles */
.navbar {
  /* Add styles for navbar */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  background-color: rgb(47, 42, 42);
  color: white;
}

.logo {
  /* Add styles for the logo */
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  /* Add styles for logo image */
  border-radius: 50%;
}
.logo span
{
  font-size: 1rem;
  font-weight: bold;
}

.nav-links a {
  /* Add styles for nav links */
  text-decoration: none;
  color: white;
  margin-right: 20px;
  display: inline-block;
  padding: 10px 15px;
  transition: transform 0.5s ease; 
}

.nav-links a:hover {
  /* Add hover styles for nav links */
  transform: scale(1.1);
  background-color: royalblue;
  
 
}

/* Hero section styles */
.hero {
  /* Add styles for hero section */
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  /* display: flex; */
  /* flex-direction: column; */
}

.hero-content {
  /* Add styles for hero content */
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.hero-content h1 {
  /* Add styles for hero heading */
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-content p {
  /* Add styles for hero paragraph */
  margin-bottom: 15px;
 
}

.cta-button {
  /* Add styles for CTA button */
  padding: 10px 15px;
  background-color: rgb(238, 151, 75);
  border: none;
  border-radius: 5px;
}

.cta-button:hover {
  /* Add hover styles for CTA button */
  transform: scale(1.1);
  transition: 0.5s ease;
}

/* Features section styles */
.features {
  /* Add styles for features section */
  margin: 40px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 70px;
  padding: 15px 20px;
  
  width: 95%;
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;
}

.feature {
  /* Add styles for each feature block */
  padding: 12px 20px;
  border: 2px solid orange;
  border-radius: 10px;
}

.feature h3 {
  /* Add styles for feature heading */
  color: rgb(238, 151, 75);
}

.feature p {
  /* Add styles for feature paragraph */
  margin-top: 15px;
}
