*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}
.container{
    display: flex;
    gap: 10px;
    padding: 20ps;
    justify-content: center;
    margin-top: 5%;
   
}
.board{
    border: 1px solid #e4e4e4;
    height: 80vh;
    width: 230px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.items{
    margin-top: 10px;
}
.item{
    border: 1px solid;
    padding: 15px 10px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
}
